body {
    font-family: 'BIZ UDGothic', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}

section {
    margin-bottom: 100px;
}

.top-elements {
    text-align: center;
    color: white;
}

.weight {
    font-size: 70px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    margin-bottom: 100px;
}

.middle-element {
    text-align: center;
}

.d-modify {
    font-size: 50px;
    font-weight: 900;
}

.para {
    color: gray;
    font-weight: 300;
}

.flex-property {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 300px;
}

.box {
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 5px;
}

.box-design {
    color: red;
    border: 2px solid red;
}

#horigental-line {
    margin: 0 400px;
    width: 1px solid gray;
}

.text-design {
    color: rgb(204, 199, 199);
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.donation-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px;

}

.color1 {
    background-color: #EDF5F6;
    padding: 80px 50px;
    border-radius: 10px;
}

.color2 {
    background-color: #FFEEEE;
    padding: 80px 50px;
    border-radius: 10px;

}

.color3 {
    background-color: #FFF4D6;
    padding: 80px 50px;
    border-radius: 10px;
}

.text-justify {
    text-align: justify;
    color: gray;
    text-align: center;
}

footer {
    background-color: #0B0D17;
    padding: 30px 0;
}

footer h2 {
    color: #FF5959;
    font-family: cursive;
}

footer h5 {
    color: whitesmoke;
}

.form-background {
    background-color: #FFF4D6;
    margin: 0 200px;
    padding: 70px 0;
}

.input-color {
    background-color: #D9D9D9;
    padding: 10px 40px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0%;
    border: 1px solid #D9D9D9;


}

.subscribe-color {
    background-color: red;
    padding: 10px 40px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 5px;
    border: 1px solid red;
    margin-left: -5px;
}

div.box1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.card {
    width: 250px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 10px 10px 5px gray;

}

div.card img {
    width: 100%;

}

.link-dec {
    color: black;
    margin-bottom: 10px;
}